
  
@media (min-width: 820px) {
  .link-container {
    position: relative; /* Ensure the container is relative for absolute positioning */
    display: inline-block; /* Display as inline block */
  }
  
  .hover-text {
    display: none; /* Hide the hover text by default */
    position: absolute; /* Position absolutely within the container */
    bottom: 40%; /* Position below the link */
    left: 200%; /* Center horizontally */
    transform: translateX(-20%); /* Adjust for center alignment */
    padding: 8px; /* Add padding for readability */
    background-color: #011c10; /* Background color for the hover text */
    color: #fff; /* Text color */
    border-radius: 15px; /* Add rounded corners */
    border-color: azure;
    border-width: 2px;
    border-style: solid;
    opacity: 0.8;
  }
  
  .link-container:hover .hover-text {
    display: block; /* Display the hover text when the container is hovered */
  }
}
@media (max-width: 500px) {

.link-container:hover .hover-text {
  display: None; /* Display the hover text when the container is hovered */
}
.hover-text {
  display: none;
}
}

